{% extends "EzPublishCoreBundle::content_fields.html.twig" %}

{% block codeinseometas_field %}
    {% set field_value_metas = resolve_pattern(field, fieldSettings, content)|filter(meta_content => meta_content is not empty) %}
    {% if field_value_metas is not empty %}
        <ul class="codeinseobundle-preview-field">
        {% for meta_name, meta_content in field_value_metas %}
            <li class="ez-field meta-value">
                {% if codein_ibexaseo.field_type_metas[meta_name] is defined and codein_ibexaseo.field_type_metas[meta_name] is not empty %}
                    {% set label = codein_ibexaseo.field_type_metas[meta_name].label %}
                    {% set default_value = codein_ibexaseo.field_type_metas[meta_name] %}
                {% else %}
                    {% set label = meta_name %}
                {% endif %}
                <b>{{ label }}:</b> <span class="badge badge-secondary">{{ meta_content }}</span>
                {% set default_pattern = default_value is defined and default_value is not empty ? default_value.default_pattern|raw : null %}
                {% set content_definition_value = (fieldSettings.configuration[meta_name] is defined and fieldSettings.configuration[meta_name] is not empty) ? fieldSettings.configuration[meta_name] : null %}
                <code style="font-style: italic;font-size: 0.675rem;color: #d0caca;"> (ContentType setting: {{ content_definition_value is empty ? "<em>empty</em>" : content_definition_value }} - Default Pattern: {{ default_pattern is empty ? "<em>empty</em>" : default_pattern }})</code>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <em>{{ 'fieldview.field.empty'|trans({}, 'fieldview')|desc('This field is empty') }}</em>
    {% endif %}
{% endblock %}


