{% extends '@EzPlatformAdminUi/themes/admin/content/form_fields.html.twig' %}

{% block form_row_subfield %}
    {% set is_meta_subfield = (form.parent.vars.name is defined) and (form.parent.vars.name == "metas") %}

    {% if is_meta_subfield %}
        {% set field_type_metas = codein_ibexaseo.field_type_metas %}
        {% set fieldtype_identifier = field_type_metas[name].type %}
        {% set fieldtype_is_not_translatable = false %}

        {% set widget_wrapper_attr = widget_wrapper_attr|default({})|merge({'class': (widget_wrapper_attr.class|default('') ~ ' ez-field-edit__data')|trim}) %}
        {% set wrapper_class = 'border-0 py-2 ez-field-edit ez-field-edit--' ~ fieldtype_identifier %}

        {% for error in form.parent.parent.parent.vars.errors %}
            {% if error.origin == form.vars.errors.form %}
                {% set errors = errors|default([])|merge([error]) %}
            {% endif %}
        {% endfor %}

        {% if required %}{% set wrapper_class = (wrapper_class|default('') ~ ' ez-field-edit--required')|trim %}{% endif %}
        {% if errors|length > 0 %}{% set wrapper_class = (wrapper_class|default('') ~ ' is-invalid')|trim %}{% endif %}
        {% if fieldtype_is_not_translatable %}
            {% set wrapper_class = (wrapper_class|default('') ~ ' ez-field-edit--nontranslatable')|trim %}
            {% set attr = attr|merge({'readonly': 'readonly'}) %}
        {% endif %}

        {% set label_wrapper_attr = label_wrapper_attr|default({})|merge({'class': (label_wrapper_attr.class|default('') ~ 'ez-field-edit__label-wrapper')|trim}) %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' ez-field-edit__label')|trim}) %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ez-data-source__input')|trim}) %}
        {% set wrapper_attr = wrapper_attr|default({})|merge({'class': (wrapper_attr.class|default('') ~ ' ' ~ wrapper_class)|trim}) %}

        {% set value = form.parent.vars.value[name] %}

        <div {% with { attr: wrapper_attr } %}{{ block('attributes') }}{% endwith %}>
            <div{% with { attr: label_wrapper_attr } %}{{ block('attributes') }}{% endwith %}>
                {% with { 'compound': false } %}{{- block('form_label') }}{% endwith %}
                {{ block('form_errors') }}
            </div>
            {% if widget_container_block is defined %}
                {{ widget_container_block|raw }}
            {% else %}
                <div{% with { attr: widget_wrapper_attr } %}{{ block('attributes') }}{% endwith %}>
                    {% if fieldtype_identifier == 'ezboolean' %}
                        {% set checked = value %}
                        {{ block('ezplatform_fieldtype_ezboolean_widget') }}
                    {% else %}
                        <div class="ez-data-source">
                            {{- form_widget(form, {'attr': attr}) -}}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}

{% endblock %}
